<input
  type="text"
  placeholder="Busqueda"
  style="font-size: 20px; text-align: left; margin-right: 10px"
  [(ngModel)]="searchProducto"
  (ngModelChange)="searchProductos()"
  [ngModelOptions]="{ standalone: true }"
/>

<div class="form-group">
  <label class="form-control-label" jhiTranslate="supermercado2App.producto.home.title" for="field_producto">Producto</label>
  <div class="alert alert-warning" id="no-result" *ngIf="productosSharedCollection?.length === 0">
    <span jhiTranslate="supermercado2App.producto.home.notFound">No productos found</span>
  </div>
  <table>
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Unidad</th>
        <th>Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let productoOption of productosSharedCollection; trackBy: trackId">
        <td>{{ productoOption.codigo }}</td>
        <td>{{ productoOption.nombre }}</td>
        <td>{{ productoOption.cantidad }}</td>
        <td>{{ productoOption.precioTotal }}</td>
        <td><button class="btn btn-primary" (click)="addProduct(productoOption)">+</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="form-group">
  <label class="form-control-label" jhiTranslate="supermercado2App.producto.home.title" for="field_producto">Productos Agregados</label>
  <table>
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Unidad</th>
        <th>Precio-Unitario</th>
        <th>Total</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos">
        <td>{{ producto.codigo }}</td>
        <td>{{ producto.nombre }}</td>
        <td>
          <input type="number" class="form-control" name="precioProducto" value="{{ producto.precioTotal }}" />
        </td>
        <td>
          <input
            name="cantidadProducto"
            type="number"
            style="font-size: 20px; text-align: left; margin-right: 10px"
            [(ngModel)]="cantidadProducto"
            [ngModelOptions]="{ standalone: true }"
          />
        </td>
        <td>{{ precioProducto }}</td>
        <td></td>
        <td><button class="btn btn-info btn-block">Agregar cantidad</button></td>
        <td><button class="btn btn-info btn-block">Eliminar producto</button></td>
      </tr>
    </tbody>
  </table>
</div>
